{% extends 'base.html.twig' %}

{% block title %}Mentions Légales
{% endblock %}

{% block body %}
	<div class="container">
		<h1>MENTIONS LÉGALES</h1>

		<p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site Ton Menu l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
		</p>
		<h2>Edition du site</h2>

		<p>
			Le présent site, accessible à l’URL http://ton-menu.osc-fr1.scalingo.io/ (le « Site »), est édité par :	
					Ramaul Bejama, résidant 75000, Paris, de nationalité Française (France), né(e) le 27/05/1998,
		</p>


		<h2>Hébergement</h2>

		<p>Le Site est hébergé par la société Scalingo, situé 3 place de Haguenau 67000 Strasbourg, (contact téléphonique ou email : +33102030405).
		</p>
		<h2>Directeur de publication
		</h2>

		<p>Le Directeur de la publication du Site est Ramaul Bejama.</p>

		<h2>Nous contacter
		</h2>
		<ul>
			<li>Par téléphone : +33605040302</li>
			<li>Par email : tonmenu@mange.fr</li>
			<li>Par courrier : 75000, Paris</li>
		</ul>
		<h2>Données personnelles</h2>

		<p>Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée, disponible depuis la section "Charte de Protection des Données Personnelles", conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»).</p>

	</div>
{% endblock %}
