<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <div><h2 class="page-section-heading text-center text-uppercase text-white">A propos de nous</h2>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">T'écris ce que tu veux, par rapport a la nourriture, ou par rapport a toi, libre d'écrire un roman</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">Idem, t'as qu'a écrire qu'on est vraiment beau et qu'on mérite notre master</p></div>
        </div>
    </div>
</section>