<!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="/img/about.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>TON MENU, créateur de menus gustatifs et recettes pour régaler vos invités</h3>
            <p class="fst-italic">
              Apparu en 2022, TON MENU est un concept de cuisine qui a pour but de vous faciliter la vie et d'agrandir votre connaissance de la cuisine française.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Générateur de Menus pour la semaine</li>
              <li><i class="bi bi-check-circle"></i> Filtrer les recettes en fonctions de vos envies</li>
              <li><i class="bi bi-check-circle"></i> Faites une recherche d'une recette en particulier</li>
            </ul>
            <p>
              Si une petite envie soudaine arrive, recherchez vite une recette dans notre liste ! Bonne dégustation !
            </p>
            <div class="btns">
            <a href="{{ path('recipe_all') }}" class="btn-menu animated fadeInUp ">Liste de nos Recettes</a>
          </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->