<section id="chefs" class="chefs">
	<div class="container" data-aos="fade-up">

		<div class="section-title">
			<p>Nos chefs professionnels</p>
		</div>

		<div class="row">

			<div class="col-lg-4 col-md-6">
				<div class="member" data-aos="zoom-in" data-aos-delay="100">
					<img src="{{ asset('img/chefs-1.jpg') }}" class="img-fluid" alt="">
					<div class="member-info">
						<div class="member-info-content">
							<h4>Gordon Ramses</h4>
							<span>Chef t'as peur quand tu le vois dans ton resto</span>
						</div>
						<div class="social">
							<a href="">
								<i class="bi bi-twitter"></i>
							</a>
							<a href="">
								<i class="bi bi-facebook"></i>
							</a>
							<a href="">
								<i class="bi bi-instagram"></i>
							</a>
							<a href="">
								<i class="bi bi-linkedin"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="member" data-aos="zoom-in" data-aos-delay="200">
					<img src="{{ asset('img/chefs-2.jpg') }}" class="img-fluid" alt="">
					<div class="member-info">
						<div class="member-info-content">
							<h4>Philippe Etjtebaise</h4>
							<span>Chef qui crie beaucoup</span>
						</div>
						<div class="social">
							<a href="">
								<i class="bi bi-twitter"></i>
							</a>
							<a href="">
								<i class="bi bi-facebook"></i>
							</a>
							<a href="">
								<i class="bi bi-instagram"></i>
							</a>
							<a href="">
								<i class="bi bi-linkedin"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="member" data-aos="zoom-in" data-aos-delay="300">
					<img src="{{ asset('img/chefs-3.jpg') }}" class="img-fluid" alt="">
					<div class="member-info">
						<div class="member-info-content">
							<h4>Thierry Marque</h4>
							<span>Panzani ou lustucru ?</span>
						</div>
						<div class="social">
							<a href="">
								<i class="bi bi-twitter"></i>
							</a>
							<a href="">
								<i class="bi bi-facebook"></i>
							</a>
							<a href="">
								<i class="bi bi-instagram"></i>
							</a>
							<a href="">
								<i class="bi bi-linkedin"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>
