
<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">

    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Gallerie</h2>
            <p>Quelques Photos de nos Plats</p>
        </div>
    </div>

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

          {% for recipe in randomRecipes %}
            {% include "components/gallery_item.html.twig" with {recipe: recipe} %}
          {% endfor %}

        </div>

      </div>
    </section><!-- End Gallery Section -->
