
<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">

    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Gallerie</h2>
            <p>Quelques Photos de nos Plats</p>
        </div>
    </div>

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a class="gallery-lightbox" data-gall="gallery-item">
                <img src="/img/gallery/imgone.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a class="gallery-lightbox" data-gall="gallery-item">
                <img src="/img/gallery/imgtwo.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a class="gallery-lightbox" data-gall="gallery-item">
                <img src="/img/gallery/imgthree.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a class="gallery-lightbox" data-gall="gallery-item">
                <img src="/img/gallery/imgfour.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a class="gallery-lightbox" data-gall="gallery-item">
                <img src="/img/gallery/imgfive.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a class="gallery-lightbox" data-gall="gallery-item">
                <img src="/img/gallery/imgsix.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a  class="gallery-lightbox" data-gall="gallery-item">
                <img src="/img/gallery/imgseven.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a  class="gallery-lightbox" data-gall="gallery-item">
                <img src="/img/gallery/imgeight.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->
