<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Bienvenue dans <span>TON MENU</span></h1>
          <h2>1 Clic = 1 Semaine de Gourmandise !</h2>

          <div class="btns">
            <a href="{{ path('generation_menu',{nb_jour: 7}) }}" class="btn-menu animated fadeInUp ">Générer mon menu</a>
          </div>

          {% if is_granted('IS_ANONYMOUS') %}
          {% else %}
          <div class="btns">
            <a href="{{ path('recipe_all') }}" class="btn-menu animated fadeInUp ">Rechercher une recette</a>
          </div>
          {% endif %}
        </div>

      </div>
    </div>
  </section><!-- End Hero -->