<!-- ======= Gallery Section ======= -->
<section id="UseIt" class="useit">

    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <p>Comment utiliser notre site</p>
        </div>
    </div>

    <div class="container-fluid useit-container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

          <div class="col-md-6 col-lg-4">
            <div class="useit-item">
              <a class="gallery-lightbox" data-gall="useit-item">
                <img src="/img/homepage.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="useit-item">
              <a class="gallery-lightbox" data-gall="useit-item">
                <img src="/img/login.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="useit-item">
              <a class="gallery-lightbox" data-gall="useit-item">
                <img src="/img/hompagegen.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-lg-0">
            <div class="useit-item">
              <a class="gallery-lightbox" data-gall="useit-item">
                <img src="/img/welcome.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-lg-0">
            <div class="useit-item">
              <a class="gallery-lightbox" data-gall="useit-item">
                <img src="/img/welcome.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="useit-item">
              <a class="gallery-lightbox" data-gall="useit-item">
                <img src="/img/welcome.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->