 <!-- ======= Our Best Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Nos Meilleurs recettes</h2>
          <p>Recettes du Moments</p>
        </div>

        <div class="row">
          {% for recipe in recipes %}
            <div class="col-lg-4">
              <div class="box" data-aos="zoom-in" data-aos-delay="100">
                <h4>{{recipe.name}}</h4> 
                <img src="{{ recipe.recipeImages[0].url }}" alt="" class="img-fluid rounded">
              </div>
            </div>
          {% endfor %}
        </div>

      </div>
    </section><!-- End Why Us Section -->