<!-- WELCOME -->
<div class="masthead bg-secondary text-white text-center">
		<div class="container d-flex align-items-center flex-column">
			

				<!-- Heading -->
				<h1 class="masthead-heading text-uppercase mb-0">
					Slogan
				</h1>

				<!-- Text -->
				<p class="lead text-white-75 mb-6">
					Phrase d'accroche
				</p>

				<!-- Button -->
				<a href="#" class="btn btn-primary lift">
					Générer mon menu
					<i class="fas fa-star"></i>
				</a>

		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->
</section>
