<!-- WELCOME -->
<div class="container bg-info">
		<div class="row justify-content-center">
			<div
				class="col-12 col-md-10 col-lg-8 text-center">

				<!-- Heading -->
				<h1 class="display-2 text-white">
					Slogan
				</h1>

				<!-- Text -->
				<p class="lead text-white-75 mb-6">
					Phrase d'accroche
				</p>

				<!-- Button -->
				<a href="#" class="btn btn-primary lift">
					Générer mon menu
					<i class="fe fe-arrow-right ms-3 btn-primary"></i>
				</a>

			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->
</section>
