<!-- WELCOME -->
<div class="masthead bg-secondary text-white text-center">
		<div class="container d-flex align-items-center flex-column">
			

				<h1 class="masthead-heading text-uppercase mb-0">
					C'est en mangeant n'importe quoi qu'on devient n'importe qui !
				</h1>

				<p class="lead text-white-75 mb-6">
					1 Clique 1 Semaine de Gourmandise ! 
				</p>
				<div>
					<a href="/generation-menu/7" class="btn btn-primary lift">
						Générer mon menu
						<i class="bi bi-arrow-down-circle-fill"></i>
					</a>
						{% if is_granted('ROLE_USER') %}
							<a href="/profile/menu" class="btn btn-primary lift">
								Voir mon menu
								<i class="bi bi-arrow-down-circle-fill"></i>
							</a>
						{% endif %}
				</div>

		</div>
	</div>
</section>
