{% extends 'base.html.twig' %}

{% block title %}Confirm{% endblock %}

{% block body %}
    <div>
        <h1>Merci de bien vouloir confirmer votre email</h1>
        <p>
            Merci de la confiance que vous nous accordez.
            Pour finaliser votre inscription, veuillez confirmer votre email, au travers du lien qui vous a été envoyé, suite a votre inscription sur notre site.
            Suite à cela vous pourrez avoir accès a notre site dans son intégralité.

            L'équipe de Ton Menu©
        </p>
    </div>
{% endblock %}