{% extends 'admin/admin.html.twig' %}

{% block title %}Creation ingredient{% endblock %}

{% block content %}
    <h3>Création d'un ingrédient</h3>
    {{ form_start(ingredientForm) }}
    {{ form_end(ingredientForm) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('add_ingredient') }}
{% endblock %}