<!-- Footer-->
        <footer class="footer text-center bg-footer" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Nous Contacter</h4>
                        <p class="lead mb-0">
                            Tonmenu@mange.fr
                        </p>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Message de Prévention</h4>
                        <span>Evitez de manger trop gras trop salé</span>
                    </div>
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">A Propos de Nous</h4>
                        <p class="lead mb-0">
                            On reste sacrément bg comme équipe n'empèche
                        </p>
                    </div>
                </div>
            </div>
        </footer>