<!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="d-flex">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Ton Menu</h3>
              <p>
                Paris <br><br>
                <strong>Email:</strong> admin@gmail.com<br>
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Quelques Liens</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#why-us">En ce Moment</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#UseIt">Comment utiliser</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#gallery">Gallerie</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <div class="container">
                <img class="qrcode_img w-50 " src="/img/qrcode.png" alt="qrcode">
            </div>

          </div>

        </div>
      </div>
    </div>
  </footer><!-- End Footer -->