<!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="d-flex row text-center">
          <div class="col-md-4 col-sm-5">
            <div class="footer-info">
              <h3>Ton Menu</h3>
              <p>
                Paris <br><br>
                <strong>Email:</strong> <a class="text-white" href="mailto:tonmenu@mange.fr">tonmenu@mange.fr</a><br>
              </p>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 footer-links">
            <h4>Quelques Liens</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a class="mx-auto" href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a class="mx-auto" href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a class="mx-auto" href="#why-us">En ce Moment</a></li>
              <li><i class="bx bx-chevron-right"></i> <a class="mx-auto" href="#UseIt">Comment utiliser</a></li>
              <li><i class="bx bx-chevron-right"></i> <a class="mx-auto" href="#gallery">Gallerie</a></li>
              <li><i class="bx bx-chevron-right"></i> <a class="mx-auto" href="#contact">Mentions Légales</a></li>
            </ul>
          </div>

          <div class="col-md-4 footer-newsletter col-sm-12">
            <div class="container">
                <img class="qrcode_img" src="/img/qrcode.png" alt="qrcode">
            </div>

          </div>

        </div>
      </div>
    </div>
  </footer><!-- End Footer -->