<!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Ton Menu</h3>
              <p>
                Paris <br><br>
                <strong>Email:</strong> admin@gmail.com<br>
                <strong>QR Code:</strong><br>
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Quelques Liens</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#why-us">En ce Moment</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#UseIt">Comment utiliser</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#gallery">Gallerie</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>La newsletter</h4>
            <p>Rentrez votre mail pour recevoir toute la newsletter</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Inscription">
            </form>

          </div>

        </div>
      </div>
    </div>
  </footer><!-- End Footer -->