<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg text-uppercase bg-primary" > 
  <div class="container">
    <div>
      <a class="navbar-brand" href="/">
          <img src="/img/ton_menu.png" class="navbar-brand-img w-50" alt="...">
      </a>
    </div>

    <div class="collapse navbar-collapse " id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link nav_a py-3 px-0 px-lg-3 rounded text-white" href="#UseIt">Comment utiliser notre site</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link nav_a py-3 px-0 px-lg-3 rounded text-white" href="#about">A Propos de nous</a></li>
          {% if is_granted('ROLE_USER') %}
                      <li class="nav-item mx-0 mx-lg-1"><a class="nav-link nav_a py-3 px-0 px-lg-3 rounded text-white" href="/recipe/all">Inventaires des recettes</a></li>
          {% endif %}
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link nav_a py-3 px-0 px-lg-3 rounded text-white" href="#contact">Contact</a></li>
          <li class="nav-item mx-0 mx-lg-1">
            {% if is_granted('ROLE_ADMIN') %} 
            <div class="dropdown nav-item mx-0 mx-lg-1">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="rounded-circle" src="{{ asset('/profile_picture/' ~ app.user.profilePicture) }}" width="50" height="50" alt="" href="/login">
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="/profile">Mon Profil</a></li>
                    <li><a class="dropdown-item" href="/profile/menu">Voir mon menu</a></li>
                    <li><a class="dropdown-item" href="/admin/users">Gérer les profils</a></li>
                    <li><a class="dropdown-item" href="/admin/users">Gérer les ingrédients</a></li>
                    <li><a class="dropdown-item" href="/admin/users">Gérer les produits</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{{ path('app_logout') }}">Deconnexion</a></li>
                </ul>
            </div> 

            {% elseif is_granted('ROLE_USER') %}
            <div class="dropdown nav-item mx-0 mx-lg-1">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="rounded-circle" src="{{ asset('/profile_picture/' ~ app.user.profilePicture) }}" width="50" height="50" alt="" href="/login">
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="/profile">Mon Profil</a></li>
                    <li><a class="dropdown-item" href="/profile/menu">Voir mon menu</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{{ path('app_logout') }}">Deconnexion</a></li>
                </ul>
            </div>

            {% else %} 
            <div class="d-flex">
              <a class="nav-link nav_a py-3 px-0 px-lg-3 rounded text-white" href="/login">Se Connecter</a>
              <a class="nav-link nav_a py-3 px-0 px-lg-3 rounded text-white" href="/register">S'inscrire</a>
              </div>
            {% endif %}
        </li>
      </ul>
    </div>
    
  </div>
</nav>