{% extends 'base.html.twig' %}

{% block title %}Ton Frigo{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			{% if myRecipes %}
				<div class="col-md-3 col-sm-12">
			{% else %}
				<div class="col-md-12">
			{% endif %}
				{{ form(form) }}
			</div>
			<div class="col-md-9 col-sm-12 m-3 mx-auto">
				
				{% if myRecipes %}
					<h3 class="text-center">Ton Menu vous propose :</h3>
					<div class="row">
						{% for myRecipe in myRecipes %}
							{% include 'components/recipe_thumbnail.html.twig' with {recipe: myRecipe} %}
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('generation_ingredient') }}
{% endblock %}
