{% extends 'admin/admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block content %}
    <h1>Page d'accueil du panel admin ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/Cours_ESGI/PA/projet-fa/projet-fa/src/Controller/AdminController.php'|file_link(0) }}">src/Controller/AdminController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/Cours_ESGI/PA/projet-fa/projet-fa/templates/admin/index.html.twig'|file_link(0) }}">templates/admin/index.html.twig</a></code></li>
    </ul>
{% endblock %}
