<!-- Login -->

<form class="login_content text-center d-flex flex-column" action="{{ path('login') }}" method="post">
        <span class="h2 login_title">Se Connecter</span>
        <div class="d-flex justify-content-around">
                <div class="login_lside">
                        <div class="email_content d-flex flex-column">
                                <label class ="label" for="username">Email:</label>
                                <input type="text" id="username" placeholder="Email" name="_username" value="{{ last_username }}"/>
                        </div>
                        <div class="password_content d-flex flex-column">
                                <label class ="label" for="password">Password :</label>
                                <input type="password" id="password" placeholder="Password" name="_password"/>
                        </div>
                        <div class="login_button">
                                {# If you want to control the URL the user is redirected to on success #}
                                {# <input type="hidden" name="_target_path" value="/account"/>  #}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <button class="buttonlogin" type="submit">login</button>
                        </div>
                </div>
                <div class="login_rside d-flex flex-row">
                        <div class="vr"></div>
                        <div class="account_button d-flex flex-column">
                        <span class="account_title"> Vous n'avez pas de compte ?</span>
                        <button type="" href="/register">Se Créer un compte</button>
                        </div>
                </div>
        </div>


</form>
