@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";
@import "~datatables.net-bs5/css/dataTables.bootstrap5.min";
/*
body {
    background-color: lightgray;
}*/
