@import "custom";
@import "~bootstrap-icons/font/bootstrap-icons";
@import "~datatables.net-bs5/css/dataTables.bootstrap5.min";
@import "~datatables.net-responsive-bs5/css/responsive.bootstrap5.min";

body {
    background-color: #fff;
    margin: 0;
}

a:link {
  color: black;
  text-decoration: none;

  :hover {
    text-decoration: underline;
  }
}

/////////////////NavBar//////////////////
.nav_bg{
  background: linear-gradient(to bottom right, #0b9bef, rgb(0 255 204 / 90%));
}

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
  }

/////////////////HomePage//////////////////

.masthead {
padding-top: calc(6rem + 74px);
padding-bottom: 6rem;
}


.page-section {
  padding: 6rem 0;

  .page-section-heading {
    font-size: 2.25rem;
    line-height: 2rem;
  }
}

@media (min-width: 992px) {
  .page-section .page-section-heading {
    font-size: 3rem;
    line-height: 4.5rem;
    padding-bottom: 20px;
  }
}


.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.howuse .howuse-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.howuse .howuse-item .howuse-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: #00bedd;
}
.howuse .howuse-item .howuse-item-caption:hover {
  opacity: 1;
}
.howuse .howuse-item .howuse-item-caption .howuse-item-caption-content {
  font-size: 1.5rem;
}

.howuse-modal .btn-close {
  color: #1abc9c;
  font-size: 2rem;
  padding: 1rem;
}
.howuse-modal .howuse-modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
}
@media (min-width: 992px) {
  .howuse-modal .howuse-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

///////////////RECIPE/////////////////
.recipe_content{
  margin: 3% 10%;
  box-shadow: 15px 15px 15px rgb(26 188 156 / 90%);
  border: 3px solid #00bf8a
}

.components_content {
  text-align: left;
  margin-left: 20%;
}

.task_content {
  text-align: left;
  margin-left: 20%;
}

.compo_title{
  margin-bottom: 20px;
}

.comp_list{ 
  margin-left: 5%;
}

/////////////////LOGIN//////////////////

.login_content{
  padding: 5% 5% 5% 10%;
}

.login_lside{
  width: 40%;
}

.login_rside{
  width: 30%;
}

.login_title{
  padding-bottom: 60px;
}

.email_content {
  text-align: left;
}

.password_content {
  text-align: left;
  padding-top: 5%;
}

.agree_content {
  text-align: left;
}

.password_label{
  font-size: 1.5rem;
}

.login_button {
  text-align: left;
  padding: 30px;
}

.buttonlogin {
  width: 50%;
}

.account_button {
  padding-left: 20%;
}

.account_title {
  padding-bottom: 5%;
}

/////////////////Generator Menu//////////////////

.filter {
  background-color: #00bedd;
}

.menu_content{
  margin: 2% 3%;
}

.btn_day {
  border: 3px solid #00bf8a;
}

.change_menubutton {
  padding-top: 10px;
}

.menu_title {
  padding-top: 20px;
}


.menu_unit {
  box-shadow: 5px 5px 5px rgba(26, 188, 156, 0.9);
  border: 3px solid #00bf8a;
  margin-right: 20px;
  height: 400px;
  width: 350px;
}


.list_content {
  margin: 20% 5%;
}

.mb_img {
  width: 40%;
  height: 250px;
}

.img_menu {
  background-color: rgba(26, 188, 156, 0.9);
  padding: 1% 0;
}

.save {
  margin-left: 50%;
  width: 7%;
}

.sendmail{
  margin-left: 56%;
  margin-top: 10px;
  width: 13%;
}

.msgsend{
  padding-bottom: 15px;
}
/////////////////Footer//////////////////

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: #fff;
  }