<div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-3">
    <!--<p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>-->
    <div class="d-flex flex-row justify-content-center">
        {% for i in 1..5 %}
            {% if i <= recipe.averageRating %}
                <i class="bi bi-star-fill" style="color: yellow"></i>
            {% else %}
                <i class="bi bi-star" style="color: yellow"></i>
            {% endif %}
        {% endfor %}
    </div>
    <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">{% if recipe.averageRating %} {{ recipe.averageRating }}/5 {% else %} Aucune note {% endif %}</div>
</div>