{% extends 'base.html.twig' %}

{% block title %}Liste des recettes{% endblock %}

{% block body %}

<div class="recipepage" id="recipepage">
        <div class="row">
            {{ form(form) }}
        </div>
        <div class="row">

            {% for recette in recettes %}
                {% include 'components/recipe_thumbnail.html.twig' with {recipe: recette} %}
            {% endfor %}

        </div>
        <div class="row offset-6">
            {{ knp_pagination_render(recettes, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
        </div>
    </div>
{% endblock %}
