{% extends 'base.html.twig' %}

{% block title %}Hello NewRecetteController!{% endblock %}

{% block body %}
    {% for recettes in recette %}
    {% set r = 0 %}
    {% set i = 0 %}
    {% set rat = 0 %}
        <a href="/recette/{{recettes.id}}"><p>{{recettes.name}}</p></a>
        {% for rate in rating %}
            {% if rate.recette == recettes %}
                {% set r = r + rate.rate %}
                {% set i = i + 1 %}
            {% endif %}
        {% endfor %}
        {% if i != 0 %}
            {% set rat = r / i %}
        {% endif %}
        {% if rat != 0 %}
            <p>{{rat}}/5</p>
        {% else %}
            <p>-/5</p>
        {% endif %}
    {% endfor %}
{% endblock %}
