{% extends 'base.html.twig' %}

{% block title %}Check my product{% endblock %}

{% block body %}
  <div class="login_content d-flex flex-column">
    <div class="container-fluid login_form rounded">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
               class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <p class="text-center fw-bold mx-3 mb-0 login_title">Un problème avec votre commande ?</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
